body, html {
  background-image: url("../images/white-wood.jpg");
  background-size: fixed;
  width: 100%;
  height: 100%;
  font-family: Apple Chancery, cursive;
  margin: 0 auto;
  display: block;
  text-align: center;

}

.container, h1 {
  width: 80%;
  max-width: 600px;
  min-width: 400px;
  padding: 10px;
  margin: 10px auto;
}

h4 {
  width: fit-content;
  display: inline-block;
  padding: 5px;
  margin: 20px 0 0 0;
}

.amiable {
  border: 1px solid #22aa44;
  box-shadow:  -1px 1px #22aa44, -2px 2px #22aa44, -3px 3px #22aa44, -4px 4px #22aa44, -5px 5px #22aa44;
  background-color: #44cc66;
  background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%);

}

.indifferent {
  border: 1px solid #c6bb06;
  box-shadow:  -1px 1px #c6bb06, -2px 2px #c6bb06, -3px 3px #c6bb06, -4px 4px #c6bb06, -5px 5px #c6bb06;
  background-color: #dddd22;
  background: linear-gradient(to right, #dddd22, yellow)
}

.dubious {
  border: 1px solid #681611;
  box-shadow:  -1px 1px #681611, -2px 2px #681611, -3px 3px #681611, -4px 4px #681611, -5px 5px #681611;
  background-color: #dd4444;
  background: linear-gradient(to right, red 40%, yellow 30%, blue 65%);
}

.column {
  width: 30%;
  display: inline-block;
}

.small {
  width: 100%;
  height: 100%;
}

.med {
  width: 203.5%;
}

.large {
  width: 303%;
}

.column .small, .med, .large {
  border: 1px solid;
}
