body, html {
  width: 100%;
  height: 100%;
  font-family: Apple Chancery, cursive;
  margin: 0 auto;
  display: block;
  text-align: center;
  background: url("../images/white-wood.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%; 
  min-width: 100%;

}

.container, h1 {
  width: 80%;
  max-width: 600px;
  min-width: 400px;
  padding: 10px;
  margin: 10px auto;
}

h4 {
  width: fit-content;
  display: inline-block;
  padding: 5px;
  margin: 20px 0 0 0;

}

h4.amiable { 
  background: linear-gradient(to right, rgb(63, 135, 63), rgb(139, 233, 145)); 

}

.amiable {
  border: 1px solid #22aa44;
  box-shadow:  -1px 1px #22aa44, -2px 2px #22aa44, -3px 3px #22aa44, -4px 4px #22aa44, -5px 5px #22aa44;
  background-color: #44cc66;

}

h4.indifferent { 
  background: linear-gradient(to right, rgb(120, 119, 35), rgb(170, 168, 54)); 


}

.indifferent {
  background-color: #dddd22;
  box-shadow:  -1px 1px rgb(171, 169, 54), -2px 2px rgb(171, 169, 54), -3px 3px rgb(171, 169, 54), -4px 4px rgb(171, 169, 54), -5px 5px rgb(171, 169, 54);
  
}

h4.dubious { 
  background: linear-gradient(to right, rgb(110, 21, 11), rgb(156, 35, 20)); 

}

.dubious {
  background-color: #dd4444;
  box-shadow:  -1px 1px rgb(157, 48, 42), -2px 2px rgb(157, 48, 42), -3px 3px rgb(157, 48, 42), -4px 4px rgb(157, 48, 42), -5px 5px rgb(157, 48, 42);

}

.column {
  width: 30%;
  display: inline-block;
}

.small {
  width: 100%;
  height: 100%;
}

.med {
  width: 203.5%;
}

.large {
  width: 303%;
}

img { 
  border: 1px solid rgb(77, 70, 67);
  box-sizing: border-box;
}
