body, html {
  width: 100%;
  height: 100%;
  font-family: Apple Chancery, cursive;
  margin: 0 auto;
  display: block; 
  text-align: center;
  background: url("../images/white-wood.jpg") no-repeat fixed;
  background-size: cover;
}

.container, h1 {
  width: 80%;
  max-width: 600px;
  min-width: 400px;
  padding: 10px;
  margin: 10px auto;
}

h4 {
  width: fit-content;
  display: inline-block;
  padding: 5px;
  margin: 20px 0 0 0;
}

.amiable {
  border: 1px solid #22aa44;
  box-shadow:  -1px 1px #22aa44, -2px 2px #22aa44, -3px 3px #22aa44, -4px 4px #22aa44, -5px 5px #22aa44;
  background-color: #44cc66;
}

.indifferent {
  border: 1px solid #dddd22;
  background-color: #ffff44;
  box-shadow:  -1px 1px #dddd22, -2px 2px #dddd22, -3px 3px #dddd22, -4px 4px #dddd22, -5px 5px #dddd22;
}

.dubious {
  background-color: #dd4444;
  box-shadow:  -1px 1px #bb2222, -2px 2px #bb2222, -3px 3px #bb2222, -4px 4px #bb2222, -5px 5px #bb2222;
  border: 1px solid #bb2222;
}

.column {
  width: 30%;
  display: inline-block;
}

.small {
  width: 100%;
  height: 100%;
}

.med {
  width: 203.5%;
}

.large {
  width: 303%;
}

img {
  border: black 2px solid;
  box-sizing: border-box;
}

h4.amiable{
  background: linear-gradient(to right, #66dd66, #00aa00)
}

h4.indifferent{
  background: linear-gradient(to right, #ffff44, #dddd22)
}

h4.dubious{
  background: linear-gradient(to right, #dd4444, #bb2222)
}

h4.dubious:hover {
  background: linear-gradient(to right, #bb2222, #dd4444)
}