body,
html {
	width: 100%;
	height: 100%;
	font-family: Apple Chancery, cursive;
	margin: 0 auto;
	display: block;
	text-align: center;
	background-image: url("../images/white-wood.jpg");
	/* needed two dots because the images folder is not in the current directory--it's one level up */
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	/* when scrolling, the background stays fixed but the elements scroll on top of it */
}

.container,
h1 {
	width: 80%;
	max-width: 600px;
	min-width: 400px;
	padding: 10px;
	margin: 10px auto;
}

h4 {
	width: fit-content;
	display: inline-block;
	padding: 5px;
	margin: 20px 0 0 0;
}

img {
	border: 1px solid darkslateblue;
	box-sizing: border-box;
}

.amiable {
	border: 1px solid #22aa44;
	box-shadow: -1px 1px #22aa44, -2px 2px #22aa44, -3px 3px #22aa44, -4px 4px #22aa44, -5px 5px #22aa44;
	background-color: #44cc66;
}

.indifferent {
	border: 1px solid rgb(171, 169, 54);
	box-shadow: -1px 1px rgb(171, 169, 54), -2px 2px rgb(171, 169, 54), -3px 3px rgb(171, 169, 54),
		-4px 4px rgb(171, 169, 54), -5px 5px rgb(171, 169, 54);
	background-color: #dddd22;
}

.dubious {
	border: 1px solid rgb(157, 48, 42);
	box-shadow: -1px 1px rgb(157, 48, 42), -2px 2px rgb(157, 48, 42), -3px 3px rgb(157, 48, 42),
		-4px 4px rgb(157, 48, 42), -5px 5px rgb(157, 48, 42);
	background-color: #dd4444;
}

h4.amiable {
	background: linear-gradient(to right, #22aa44, #44cc66);
}

h4.indifferent {
	background: linear-gradient(to right, rgb(171, 169, 54), #dddd22);
}

h4.dubious {
	background: linear-gradient(to right, rgb(157, 48, 42), #dd4444);
}

.column {
	width: 30%;
	display: inline-block;
}

.small {
	width: 100%;
	height: 100%;
}

.med {
	width: 203.5%;
}

.large {
	width: 303%;
}
