body, html {
  width: 100%;
  height: 100%;
  font-family: Apple Chancery, cursive;
  margin: 0 auto;
  display: block;
  text-align: center;
  background-image: url("../images/white-wood.jpg");
  background-repeat: no-repeat; 
  background-size: cover;
  background-attachment: fixed;
}

.container, h1 {
  width: 80%;
  max-width: 600px;
  min-width: 400px;
  padding: 10px;
  margin: 10px auto;
}

h4 {
  width: fit-content;
  display: inline-block;
  padding: 5px;
  margin: 20px 0 0 0;
  /*background: linear-gradient(to right, rgb(34, 70, 128), rgb(255, 130, 55));*/
}

h4.amiable {
  background: linear-gradient(to right, rgb(28, 136, 56), rgb(106, 234, 138));
}

h4.amiable:hover {
  background: linear-gradient(to right, rgb(106, 234, 138), rgb(28, 136, 56));
}

.amiable {
  border: 1px solid #22aa44;
  box-shadow:  -1px 1px #22aa44, -2px 2px #22aa44, -3px 3px #22aa44, -4px 4px #22aa44, -5px 5px #22aa44;
  background-color: #44cc66;

}

.indifferent {
  background-color: #dddd22;
  box-shadow: -1px 1px rgb(170, 169, 35), -2px 2px rgb(170, 169, 35), -3px 3px rgb(170, 169, 35), -4px 4px rgb(170, 169, 35), -5px 5px rgb(170, 169, 35);
  border: 1px solid rgb(170, 169, 35);
}

h4.indifferent {
  background: linear-gradient(to right, rgb(123, 122, 21), rgb(168, 166, 34));
}

.dubious {
  border: 1px solid rgb(193, 121, 122);
  box-shadow: -1px 1px rgb(193, 121, 122), -2px 2px rgb(193, 121, 122), -3px 3px rgb(193, 121, 122), -4px 4px rgb(193, 121, 122), -5px 5px rgb(193, 121, 122);
  background-color: #dd4444;
}

h4.dubious {
  background: linear-gradient(to right, rgb(120, 8, 7), rgb(167, 24, 23));
}

.column {
  width: 30%;
  display: inline-block;
}

img {
  border: 2px solid;
  box-sizing: border-box;
}

img:hover {
  transition-duration: 1s;
  transform: scale(1.03);
}

.small {
  width: 100%;
  height: 100%;
}

.med {
  width: 203.5%;
}

.large {
  width: 303%;
}
